# Initial Exploration

This notebook includes initial exploration of the dataset, for a structured data science project, see the following notebooks. If you want to get an initial idea of the dataset, check this notebook.

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("../data/raw/yield_tables.csv", sep=";")

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14398 entries, 0 to 14397
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            14398 non-null  int64
 1   yield_class                   14398 non-null  float64
 2   age                           14398 non-null  int64
 3   dominant_height               8825 non-null   float64
 4   average_height                9340 non-null   float64
 5   dbh                           9113 non-null   float64
 6   taper                         4425 non-null   float64
 7   trees_per_ha                  9255 non-null   float64
 8   basal_area                    9511 non-null   float64
 9   volume_per_ha                 14282 non-null  float64
 10  average_annual_age_increment  4882 non-null   float64
 11  total_growth_performance      5155 non-null   float64
 12  current_annual_increment      8691 non-null   float64
 13  mean_annual_increment         8965 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 1.5+ MB
None

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,14398.0,125.767954,65.677997,1.000,89.000,148.000000,180.000000,213.00
yield_class,14398.0,7.899590,5.677468,0.000,4.000,6.000000,11.000000,36.00
age,14398.0,79.438741,48.892472,4.000,40.000,70.000000,110.000000,300.00
dominant_height,8825.0,22.114483,22.425561,0.000,15.000,21.900000,28.800000,1919.00
average_height,9340.0,20.367438,8.747435,0.000,13.800,20.000000,26.600000,74.00
dbh,9113.0,26.342264,14.288931,-36.400,16.100,24.900000,35.028492,514.00
taper,4425.0,0.455306,0.073344,0.066,0.435,0.452986,0.482000,4.33
trees_per_ha,9255.0,1166.835475,2194.385171,0.000,403.000,668.000000,1249.000000,77650.00
basal_area,9511.0,33.763197,13.796179,0.000,23.500,32.380000,43.600000,80.30
volume_per_ha,14282.0,361.887531,239.798271,0.000,176.000,316.000000,505.000000,1421.00
average_annual_age_increment,4882.0,6.698520,7.437787,0.100,3.100,4.850000,7.500000,70.00
total_growth_performance,5155.0,682.758487,457.677307,0.000,306.000,600.000000,993.500000,2462.00
current_annual_increment,8691.0,8.265104,5.534094,-0.060,4.400,7.000000,10.800000,44.90

In [4]:
df.isna().sum()

id                                 0
yield_class                        0
age                                0
dominant_height                 5573
average_height                  5058
dbh                             5285
taper                           9973
trees_per_ha                    5143
basal_area                      4887
volume_per_ha                    116
average_annual_age_increment    9516
total_growth_performance        9243
current_annual_increment        5707
mean_annual_increment           5433
dtype: int64

## Summary

The dataset is consistent but includes many null values. But after dropping all the null values, the size of the dataset should still be sufficient to train a regression model.

The columns are all `float` or `int` types, except for `mean_annual_increment` which is an `object` type, which is weird - when looking at the dataset it seems to be a number - anyway, we will not use it in our regression model since we are not interested in the growth of trees over time).